doctype html
html(lang="ru")
    head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
    title First pug
    body(class="page")
        header(class="page__header header")
            div(class="container")
                div(class="row")
                    div(class="col-12")
                        nav(class="navbar navbar-expand-lg d-flex align-items-center p-0 navbar-dark")
                            a(class="navbar-brand" href="#")
                                img(class="logo__img" src="img/logo.svg" alt="logo")
                            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                                span(class="navbar-toggler-icon")
                            div(class="collapse navbar-collapse" id="navbarNav")
                                ul(class="navbar-nav w-100 align-items-center justify-content-center")
                                    li(class="nav-item active")
                                        a(class="nav-link font_bebas font__size_22" href="#")
                                            | О Городе «Озёрный-аргази»
                                    li(class="nav-item")
                                        a(class="nav-link font_bebas font__size_22" href="#")
                                            | район «Дачный»
                                    li(class="nav-item")
                                        a(class="nav-link font_bebas font__size_22" href="#")
                                            | Контакты
                                    li(class="nav-item")
                                        a(class="phone font__size_22 font_weight_5 font_montserrat" href="tel:+73512448844")
                                            | +7 (351) 244 88 44
                                    li(class="nav-item col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 p-0")
                                        button(class="btn font__size_18 font_roboto")
                                            | Бесплатная экскурсия
        main(class="page__main main")
            
            div(class="main__first")
                div(class="container-fluid")
                    div(class="row")
                        div(class="col-12 p-0")
                            div(id="carouselFirst" class="carousel slide" data-ride="carousel" data-interval="false")
                                ol(class="carousel-indicators")
                                    li(data-target="#carouselFirst" data-slide-to="0" class="active")
                                    li(data-target="#carouselFirst" data-slide-to="1" class="")
                                    li(data-target="#carouselFirst" data-slide-to="2" class="")
                                div(class="carousel-inner")
                                    div(class="carousel-item active")
                                        div(class="d-flex justify-content-center align-items-center carousel__container")
                                            div(class="col-12 col-md-12 col-xl-12 col-lg-8 col-xl-8 d-flex flex-column justify-content-center align-items-center carousel__content")
                                                p(class="font_montserrat font__size_20 font_weight_6 font_white text-center")
                                                    | Земельные участки в 350 метрах от самого крупного водоёма на Урале-Аргазинского водохранилища
                                                span(class="font_montserrat font__size_30 font_weight_9 font_white py-5")
                                                    | от 40 000 рублей за сотку
                                                button(class="btn font__size_18 font_roboto")
                                                    | Записаться на экскурсию
                                            img(class="carousel__img" src="img/slider-item-img.png" alt="img")
                                    div(class="carousel-item")
                                        div(class="d-flex justify-content-center align-items-center carousel__container")
                                            img(class="carousel__img" src="img/slider-item-img.png" alt="img")
                                    div(class="carousel-item")
                                        div(class="d-flex justify-content-center align-items-center carousel__container")
                                            img(class="carousel__img" src="img/slider-item-img.png" alt="img")
            div(class="container container_padding")
                div(class="row")
                    div(class="col-12 text-center")
                        h1(class="font_montserrat font__size_36 font_line_150 font_color_main font_weight_7")
                            | Город Озёрный-Аргази
            div(class="main__second")
                div(class="container container_padding")
                    div(class="row")
                        div(class="col-12 ol-sm-12 col-md-12 col-lg-3 col-xl-3 d-flex flex-column align-items-center")
                            img(src="img/Group6.png" alr="img")
                            span(class="d-block font_montserrat font__size_18 font_weight_5 font_black p-3")
                                | Пётр Дятчин
                            span(class="d-block font_montserrat font__size_16 font_black text-center")
                                | Учредитель проекта<br>«Город Озёрный-Аргази»
                        div(class="col-12 ol-sm-12 col-md-12 col-lg-8 col-xl-8 d-flex flex-column align-items-start pl-5")
                            img(class="d-block pt-5" src="img/Frametop.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_black font_line_150 m-0 py-4")
                                | «Город Озёрный - Аргази»─ воплощение нового формата загородной жизни, в котором вся инфраструктура и среда нацелены на повышение качества жизни, долголетие и здоровье жителей. Создается почва для полноценного и гармоничного развития человека. Здесь будет всё для того, чтобы эффективно работать и с удовольствием отдыхать!
                            p( class="font_montserrat font__size_16 font_black font_line_150 m-0 pb-5")
                                | Приглашаю на экскурсию!

                            img(class="d-block align-self-end" src="img/Framebot.svg" alt="img")
                            button(class="btn font__size_18 font_roboto")
                                | Записаться
            div(class="main__third")
                div(class="container container_padding")
                    div(class="row")
                        div(class="col-12")
                            h2(class="font_montserrat font__size_36 font_white font_weight_7")
                                | Инфраструктура
                    div(class="row py-5")
                        div(class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex flex-column align-items-center text-center pl-0")
                            img(src="img/1.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_line_135 font_white pt-4 mb-4")
                                | Назначение земель для дачного строительства с возможностью перевода в ИЖС
                        div(class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex flex-column align-items-center text-center")
                            img(src="img/2.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_line_135 font_white pt-4 mb-4")
                                | Дороги шириной 7 и 14 м. (идет процесс отсыпки дорог)
                        div(class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex flex-column align-items-center text-center")
                            img(src="img/3.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_line_135 font_white pt-4 mb-4")
                                |  Электричество: 8-15 кВт на участок
                        div(class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex flex-column align-items-center text-center")
                            img(src="img/4.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_line_135 font_white pt-4 mb-4")
                                | Газ (идет процесс газификации)
                        div(class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex flex-column align-items-center text-center pl-0")
                            img(src="img/5.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_line_135 font_white pt-4 mb-4")
                                | Охрана
                        div(class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex flex-column align-items-center text-center")
                            img(src="img/6.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_line_135 font_white pt-4 mb-4")
                                | Уверенный сигнал сотовой связи
                        div(class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex flex-column align-items-center text-center")
                            img(src="img/7.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_line_135 font_white pt-4 mb-4")
                                | Пруд, детская и спортивная площадки, ограждение по периметру (при согласовании с собственниками участков)
                        div(class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 d-flex flex-column align-items-center text-center")
                            img(src="img/8.svg" alt="img")
                            p(class="font_montserrat font__size_16 font_line_135 font_white pt-4 mb-4")
                                | 350 м. до озера «Аргази»
                    div(class="row")
                        div(class="col-12 text-center")
                            button(class="btn font__size_18 font_roboto")
                                | Подробнее
            div(class="main__fouth")
                div(class="container container_padding")
                    div(class="row")
                        div(class="col-12")
                            h2(class="font_montserrat font__size_36 font_color_main font_weight_7 pb-4")
                                | Район «Дачный»
                    div(class="row")
                        div(class="col-12")
                            p(class="font_montserrat font__size_18 font_black")
                                | Дачный район «Города Озёрный – Аргази»,
                            p(class="font_montserrat font__size_18 font_black")
                                | это замечательное место для загородного отдыха
                            p(class="font_montserrat font__size_18 font_black")
                                | всего в 350 метрах от самого большого водоёма на Урале – озеро «Аргази»
                            p(class="width_35 py-4 font_montserrat font__size_24 font_line_150 font_weight_7 font_color_green")
                                | Участки площадью от 6 соток от 40 000 рублей за сотку
                            p(class="font_montserrat font__size_18 font_color_x pb-3 font_weight_6")
                                | Рассрочка 0% на 12 месяцев
                            button(class="btn font__size_18 font_roboto ")
                                | Записаться на экскурсию
                            
                img(class="img-fluid" src="img/allpeople.png" alt="img")
            div(class="main__fifth")                
                div(class="container container_padding")
                    div(class="row")
                        div(class="col-12")
                            h2(class="font_montserrat font__size_36 font_color_main font_weight_7 pb-4")
                                | Район «Дачный» идеально подойдёт
                    div(class="row")
                        div(class="col-lg-6 col-xl-6 d-flex justify-content-between align-items-start pb-5")
                            img(src="img/11.svg" alt="img")
                            div(class="pl-5")
                                h3(class="font_montserrat font_weight_6 font__size_18")
                                    | Ценителям спокойного и комфортного загородного отдыха
                                p(class="font_montserrat  font__size_18")
                                    | Развитая инфраструктура, лесной массив и шаговая доступность крупнейшего водоема на Урале помогут хорошо провести время и забыть о городской суете
                        div(class="col-lg-6 col-xl-6 d-flex justify-content-between align-items-start pb-5")
                            img(src="img/11.svg" alt="img")
                            div(class="pl-5")
                                h3(class="font_montserrat font_weight_6 font__size_18")
                                    | Рыбакам
                                p(class="font_montserrat  font__size_18")
                                    | Это прекрасное место для летней и зимней рыбалки. В водах водятся щука, чебак, язь, налим, окунь, лещ, сиг, ерш, судак, линь. Изредка встречаются осетр, карп, форель. На Аргазях часто проводятся соревнования по ловле рыбы.
                        div(class="col-lg-6 col-xl-6 d-flex justify-content-between align-items-start pb-5")
                            img(src="img/11.svg" alt="img")
                            div(class="pl-5")
                                h3(class="font_montserrat font_weight_6 font__size_18")
                                    | Семьям с детьми
                                p(class="font_montserrat  font__size_18")
                                    | Экологически чистое место создает благоприятные условия для семейного отдыха с детьми.
                        div(class="col-lg-6 col-xl-6 d-flex justify-content-between align-items-start pb-5")
                            img(src="img/11.svg" alt="img")
                            div(class="pl-5")
                                h3(class="font_montserrat font_weight_6 font__size_18")
                                    | Охотникам
                                p(class="font_montserrat  font__size_18")
                                    | Аргазинское охотничье хозяйство богато тетеревами, куницами, лисами, кабанами и косулями.
                    div(class="d-none d-md-none d-sm-none d-lg-block d-xl-block main__fifth__absolute")
                        img(src="img/bird0.png" alt="img")
                    div(class="row pt-5")
                        div(class="col-12")
                            h2(class="font_montserrat font__size_36 font_color_main font_weight_7 pb-5")
                                | Схема района «Дачный»
                        div(class="col-12")
                            img( src="img/5d06add9-67dc-44f9-bba5-008c127adf98.png" alt="img" class="w-100")
                        div(class="col-12 pt-5 text-center")
                            button(class="btn font__size_18 font_roboto ")
                                | Записаться на экскурсию
            div(class="main__sixth")
                div(class="container container_padding")
                    div(class="row")
                        div(class="col-lg-7 col-xl-7")
                            h2(class="font_montserrat font__size_35 font_color_main font_weight_7 pb-4")
                                | Схема «Города Озёрный-Аргази»
                            div(class="row py-5 pr-5")
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/01.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Дачный
                                    div(class="main__sixth_circle_modal")
                                        span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                            | Дачный
                                        span(class="d-block font_roboto  font__size_16 ")
                                            | Замечательное место для загородного отдыха в 350 м. от самого большого водоема на Урале.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/02.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Здравница
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Здравница
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | В будущем это территория с медицинскими учреждениями, SPA-комплексом и большим прогулочным парком, где каждый сможет отдохнуть от городской суеты.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/03.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Отдых и туризм
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Торгово-развлекательное пространство. Отдых и туризм.
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | Создается для проведения различных фестивалей, концертов, праздников, ярмарок и других культурных мероприятий.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/04.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Бизнес
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Бизнес
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | Отличное место для тех, кто хочет вести свои дела в умиротворенной природе обстановке.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/05.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Центр спорта
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Центр спорта
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | В будущем это идеальное место для проведения спортивных сборов, соревнований в разных дисциплинах, тренировок жителей. В планах Строительства ФОКа, стадиона, хоккейной базы, горнолыжной трассы и других значимых спортивных сооружений.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/06.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Производственный
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Производственный
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | Этот район предоставляет прекрасную возможность для развития малого и среднего бизнеса в области фермерства, сельского хозяйства и производственного туризма. Планируется создать технопарк для переработки растительного и животного сырья.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/07.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Комфорт
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Комфорт
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | В будущем это уже готовые дома до 3-х этажей. Привычный городской формат жилья обретает дополнительные преимущества: отсутствие шума, хорошую экологию, прекрасную инфраструктуру в шаговой доступности.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/08.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Общественно-деловой
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Общественно-деловой
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | В будущем это административный центр города с современными офисными пространствами, переговорными, ресторанами, прудом, парковыми зонами для прогулок и другими объектами для комфортной деловой жизни на территории.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/09.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Прибрежная пляжная зона
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Прибрежная пляжная зона
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | Планируется благоустроить пляжную зону всем необходимым для комфортного отдыха жителей и гостей.
                                div(class="main__sixth_circle col-6 col-md-4 col-sm-4 col-lg-4 col-xl-4 pr-2")
                                    img(src="img/crr.svg" alt="img")
                                    p(class="font_montserrat font__size_18 font_black pt-3 mb-5")
                                        | Земли для освоения
                                        div(class="main__sixth_circle_modal")
                                            span(class="d-block font_roboto font__size_18 font_weight_5 pb-4")
                                                | Земли для освоения
                                            span(class="d-block font_roboto  font__size_16 ")
                                                | Замечательное место для загородного отдыха в 350 м. от самого большого водоема на Урале.
                            div(class="row")
                                div(class="col-12")
                                    button(class="btn font__size_18 font_roboto mt-4")
                                        | Подробнее
                        div(class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5")
                            img(class="img-fluid" src="img/Group6.svg" alt="img")
            div(class="main__seventh")
                div(class="container container_padding")
                    div(class="row")
                        div(class="col-12")
                            h2(class="font_montserrat font__size_36 font_white font_weight_7 pb-4")
                                | Схема проезда
                            div(class="col-12 p-0 d-flex")
                                p( class="font_montserrat font__size_18 font_white font_weight_7")
                                    | 74 км
                                p(class="font_montserrat font__size_18 font_white font_weight_7 pl-4")
                                    | 55 минут
                        div(class="col-12 pt-4")
                            <iframe src="https://www.google.com/maps/d/embed?mid=1YMwtyDnZnthcPfAW1J-Q-aPochvuw_PT&hl=ru" class="w-100" height="480"></iframe>
            div(class="main__eighth")
                div(class="container container_padding")
                    div(class="row")
                        div(class="col-lg-7 col-xl-7")
                            h2(class="font_montserrat font__size_36 font_color_main font_weight_7 pb-4")
                                | Менеджеры 
                    div(class="row")
                        div(class="col-lg-6 d-flex flex-column justify-content-center align-items-center col-xl-6")
                            img(src="img/man.png" alt="img")
                            a(class="pt-5 font_montserrat font__size_16 font_black" href="tel:+79000000000")
                                | +7 900 000 00 00
                            a(class="pb-5 font_montserrat font__size_16 font_black" href="mailto:test@mail.ru")
                                | e-mail
                            button(class="btn font__size_18 font_roboto mt-4")
                                | Записаться на экскурсию
                        div(class="col-lg-6 d-flex flex-column justify-content-center align-items-center col-xl-6")
                            img(src="img/woman.png" alt="img")
                            a(class="pt-5 font_montserrat font__size_16 font_black" href="tel:+79000000000")
                                | +7 900 000 00 00
                            a(class="pb-5 font_montserrat font__size_16 font_black" href="mailto:test@mail.ru")
                                | e-mail
                            button(class="btn font__size_18 font_roboto mt-4")
                                | Записаться на экскурсию
        footer(class="page__footer")
            div(class="container container_padding")
                div(class="row")
                    div(class="col-12 col-lg-4 col-xl-4 pb-5")
                        div(class="d-flex align-items-center")
                            img(src="img/placeholder.svg" alt="img")
                            p(class="m-0 pl-4 font_montserrat font__size_18 font_white")
                                | г. Челябинск, ул. Цвиллинга 36 офис 49
                        div(class="d-flex align-items-center pt-4")
                            img(src="img/call.svg" alt="img")
                            a(class="m-0 pl-4 font_montserrat font__size_18 font_white" href="tel:+73512448844")
                                | +7 (351) 244-88-44
                        div(class="d-flex align-items-center pt-4")
                            img(src="img/email.svg" alt="img")
                            a(class="m-0 pl-4 font_montserrat font__size_18 font_white" href="mailto:2448844argazi@gmail.com")
                                | 2448844argazi@gmail.com
                    div(class="col-12 col-lg-8 col-xl-8")
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1565.8219114451163!2d61.40255829046331!3d55.16063869649584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4cf33ece3b%3A0x80d0bff1ae5a58a3!2z0YPQuy4g0KbQstC40LvQu9C40L3Qs9CwLCAzNiwgNDksINCn0LXQu9GP0LHQuNC90YHQuiwg0KfQtdC70Y_QsdC40L3RgdC60LDRjyDQvtCx0LsuLCA0NTQwOTE!5e0!3m2!1sru!2sru!4v1565076906516!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>












        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")