
$main-bg-color: #40877A;

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('../Fonts/bebasneue/bebasneuethin.woff2') format('woff2'), url('../Fonts/bebasneue/bebasneuethin.woff') format('woff'), url('../Fonts/bebasneue/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('../Fonts/bebasneue/bebasneuelight.woff2') format('woff2'), url('../Fonts/bebasneue/bebasneuelight.woff') format('woff'), url('../Fonts/bebasneue/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('../Fonts/bebasneue/bebasneuebook.woff2') format('woff2'), url('../Fonts/bebasneue/bebasneuebook.woff') format('woff'), url('../Fonts/bebasneue/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../Fonts/bebasneue/bebasneueregular.woff2') format('woff2'), url('../Fonts/bebasneue/bebasneueregular.woff') format('woff'), url('../Fonts/bebasneue/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../Fonts/bebasneue/bebasneuebold.woff2') format('woff2'), url('../Fonts/bebasneue/bebasneuebold.woff') format('woff'), url('../Fonts/bebasneue/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



html {
	font-size: 10px;
	overflow-x: hidden;
}
a {
	&:hover{
		color: inherit;
		text-decoration: none;
	}
}
.row { 
	margin-left: 0;
	margin-right:0; }
.container {
	padding-right: 0;
	padding-left: 0;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}
.container_padding {
	padding: 60px 0;
}
@media (max-width: 575.98px) { 
	html { font-size: 9px; }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.font__size_22 { font-size: 2rem; }
}


/*  menu  */
.header {
	padding: 5px 0;
	color: #fff;
}
.logo__img { 
	max-width: 80px; }
.nav-item {
	margin-left: 14px;
}
.nav-item.active .nav-link{
	color: #40877A!important;
}
.navbar-dark .navbar-nav .nav-link {
	color: #40877A;
	&:hover {
		color: #40877A;
	}
}
.phone {
	color: #40877A;
	margin-left: 20px;
	&:hover{
		color: #40877A;
		text-decoration: none;
	}
}
.btn {
	background: linear-gradient(180deg, #FDE598 0%, #F6BF42 100%);
	border-radius: 100px;
	color: #473527;
	padding: 12px 30px;
	border-bottom: 3px solid #DD9C58;
}
@media (max-width: 991.98px) {
	.page__header { background-color: #343a40;}
	.phone { margin-top: 20px; display: block; }
	.navbar-nav .col-12 { 
		display: flex;
		justify-content: center;
		margin-top: 20px; }
}
 


/* all style from fonts */
.font_bebas {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
}
.font_montserrat {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
}
.font_market {
	font-family: Market Fresh Bold;
	font-style: normal;
	font-weight: normal;
}
.font_roboto {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}
.font__size_16 {
	font-size: 1.6rem;
	line-height: 20px;
}
.font__size_18 {
	font-size: 1.8rem;
	line-height: 21px;
}
.font__size_20 {
	font-size: 2rem;
	line-height: 28px;
}
.font__size_22 {
	font-size: 2.2rem;
	line-height: 22px;
}
.font__size_24 {
	font-size: 2.4rem;
	line-height: 22px;
}
.font__size_30 {
	font-size: 3rem;
	line-height: 37px;
}
.font__size_35 {
	font-size: 3.5rem;
	line-height: 44px;
}
.font__size_36 {
	font-size: 3.6rem;
	line-height: 44px;
}
.font_weight_5 {
	font-weight: 500;
}
.font_weight_6 {
	font-weight: 600;
}
.font_weight_7 {
	font-weight: 700;
}
.font_weight_9 { 
	font-weight: 900;
}
.font_white {
	color: #fff;
}
.font_black {
	color: #000;
}
.font_color_main {
	color: $main-bg-color;
}
.font_color_green {
	color: #91B560;
}
.font_color_x {
	color: #40877A;
}
.font_line_150 {
	line-height: 150%;
}
.font_line_135 {
	line-height: 135%;
}
.width_35 {
	max-width: 35%;
}












/*       first block         */
.carousel-indicators li {
	background-color: transparent;
	border: 1px solid #fff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	opacity: 1;
	&.active {
		background-color: rgba(255, 255, 255, 0.5);
	}
}

.carousel__container {
	position: relative;
}
.carousel__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 46%;
}
.carousel__img {
	display: block;
}
@media (max-width: 991.98px) {
	.carousel__content { max-width: 100%; text-align: center; }
}









/*  second block  */
.main__second .container{
	position: relative;
}
.main__second .container:before {
	content: "";
	display: block;
	position: absolute;
	top: 10%; left: -10%;
	background: url('../img/Polygon.svg') no-repeat;
	width: 52px;
	height: 52px;
}
.main__second .container:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 10%; right: 0;
	background: url('../img/Polygon (1).svg') no-repeat;
	width: 34px;
	height: 34px;
}







/*    third block      */
.main__third {
	background-color: $main-bg-color;
}
.main__fouth img { 
	margin-top: -10%;
}



/*    fouth block   */
@media (max-width: 991.98px) {
	.width_35 { max-width: 100%; }
}














/*     fifth block       */
.main__fifth {
	border-bottom: 1px solid #E5E5E5;
}
.main__fifth .container {
	position:relative; 
}
.main__fifth__absolute {
	position: absolute;
	top: 20%;
	left: -20%;
}
@media (max-width: 991.98px) {
	.main__fifth img { max-width: 100%; }
}












/*       sixth block      */
.main__sixth { overflow: hidden; }
.main__sixth_circle {
	position: relative;
}
.main__sixth_circle_modal {
	position: absolute;
	padding: 20px;
	bottom: 105%;
	width: 250%;
	border-radius: 10px;
	left: 0;
	display: none;
	border: 1px solid #F6BF42;
	background-color: #fff;
	z-index: 400;
}
.main__sixth_circle:hover .main__sixth_circle_modal {
	display: block;
}
@media (max-width: 575.98px) {
	.font__size_18 { font-size: 1.4rem; }
	
} 
@media (max-width: 991.98px) { 
	.main__sixth .pr-5 { padding-right: 0!important; }
	.main__sixth .img-fluid { margin-top: 20px; width: 100%;}
}



/*       seventh block         */
.main__seventh {
	background-color: $main-bg-color;
}









/*      eighth block    */
.main__eighth {
	position: relative;
}
.main__eighth_absolute {
	position: absolute;
	right: 0;
	top: 20%;
}








/*       footer block        */
.page__footer {
	background-color: $main-bg-color;
}
.page__footer a:hover { color: #fff; }